    <div class="py-5">
      <div class="card-body p-5">
        <div class="card shadow mb-4">
          <div class="card-body shadow-sm p-5">
            <h2 class="text-muted">{{title}}</h2>
            <p class="font-italic text-muted">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
              eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud
              exercitation ullamco laboris nisi ut aliquip.</p>
          </div>
        </div>
      </div>
    </div>
  

